<!-- Footer Section starts -->
<footer>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-9 col-12">
                <p class="footer-text f-w-600 mb-0">© ۱۴۰۴ دیاکو MES | شرکت توسعه هوشمند فرش ایرانیان</p>
            </div>
            <div class="col-md-3">
                <div class="footer-text text-end">
                    <span class="text-muted f-s-12">نسخه ۱.۰.۰</span>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- Footer Section ends -->
